APP_NAME=CKD AI API
APP_ENV=development
API_PREFIX=/api/v1
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DATABASE=ckd_ai
MODEL_PATH=/app/app/models/artifacts
CORS_ORIGINS=http://localhost:3000
LOG_LEVEL=INFO
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

